
<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>{{title}}
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div>
  </div><!-- /cont -->

</div>


<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">



          <!--/stories-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/assets/img/authors/LeoTolstoy.jpg" style="width:140px;height:140px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3 style="text-align: center;">" Art is not a handicraft, it is the transmission of feeling the artist has experienced. "</h3>
              <div class="row">
                <div class="col-xs-11">
                  <h4 >-- &nbsp;&nbsp;<span class="label label-default">Leo Tolstoy</span></h4>
                </div>
                <div class="col-xs-1"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>

            <div class="col-md-10 col-sm-9">
              <h3 style="text-align: center;">" Never stop fighting until you arrive at your destined place - that is, the unique you. Have an aim in life, continuously acquire knowledge, work hard, and have perseverance to realise the great life. "</h3>
              <div class="row">
                <div class="col-xs-11">
                  <h4 style="text-align: right;"><span class="label label-default">A. P. J. Abdul Kalam</span>&nbsp;&nbsp; --</h4>
                </div>
                <div class="col-xs-1"></div>
              </div>
              <br><br>
            </div>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/assets/img/authors/APJKalam.jpg" style="width:140px;height:140px" class="img-circle"></a>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/assets/img/authors/PauloCoelho.jpg" style="width:140px;height:140px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3 style="text-align: center;">" When you want something, all the universe conspires in helping you to achieve it. "</h3>
              <div class="row">
                <div class="col-xs-11">
                  <h4 >-- &nbsp;&nbsp;<span class="label label-default">Paulo Coelho</span></h4>
                </div>
                <div class="col-xs-1"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>

            <div class="col-md-10 col-sm-9">
              <h3 style="text-align: center;">" It is our choices... that show what we truly are, far more than our abilities. "</h3>
              <div class="row">
                <div class="col-xs-11">
                  <h4 style="text-align: right;"><span class="label label-default">J. K. Rowling</span>&nbsp;&nbsp; --</h4>
                </div>
                <div class="col-xs-1"></div>
              </div>
              <br><br>
            </div>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/assets/img/authors/JKRowling.jpg" style="width:140px;height:140px" class="img-circle"></a>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/assets/img/authors/CharlesDickens.jpg" style="width:140px;height:140px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3 style="text-align: center;">" Have a heart that never hardens, and a temper that never tires, and a touch that never hurts. "</h3>
              <div class="row">
                <div class="col-xs-11">
                  <h4 >-- &nbsp;&nbsp;<span class="label label-default">Charles Dickens</span></h4>
                </div>
                <div class="col-xs-1"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <!--/stories-->
        </div>
      </div>
     </div><!--/col-12-->
  </div>
</div>
