<div class="container" >
  <div class="row g-3" style="align-content: center;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-panel" style="width: fit-content;">
        <div class="box form-container">
            <h2 class="form-heading">{{title}}</h2>
            <hr>
            <form class="form" id="form" [formGroup]="authorform" (ngSubmit)="addAuthor()">
                  <div class="form_control">
                      <label for="">Author Name</label><sup>*</sup>
                      <input type="text" placeholder="Enter Author Name" [(ngModel)]="author_Item.author_name"
                            id="author-name" name="name" formControlName="name" required>
                      <!-- <p>Error message</p> -->
                      <div *ngIf="af.name.touched && af.name.invalid" class="alert alert-danger">
                        <div *ngIf="af.name.errors.required">Author Name is required</div>
                      </div>
                  </div>
                  <div class="form_control">
                      <label for="">Nationality</label><sup>*</sup>
                      <input type="text" placeholder="Enter Nationality" [(ngModel)]="author_Item.author_nationality"
                            id="author-nation" name="nationality" formControlName="nationality">
                      <!-- <p>Error message</p> -->
                      <div *ngIf="af.nationality.touched && af.nationality.invalid" class="alert alert-danger">
                        <div *ngIf="af.nationality.errors.required">Nationality is required</div>
                      </div>
                  </div>
                  <div class="form_control">
                    <label for="">Born On</label><sup>*</sup>
                    <input type="text" placeholder="Enter Birth Date" [(ngModel)]="author_Item.author_dob"
                    id="author-dob" name="dob" formControlName="dob">
                    <!-- <p>Error message</p> -->
                    <div   *ngIf="af.dob.touched && af.dob.invalid" class="alert alert-danger">
                      <div *ngIf="af.dob.errors.required">DOB is required</div>
                    </div>
                </div>
                  <div class="form_control">
                      <label for="">Author Genre</label><sup>*</sup>
                      <input type="text" placeholder="Enter Genre" [(ngModel)]="author_Item.author_genre"
                      id="author-genre" name="genre" formControlName="genre" required>
                      <!-- <p>Error message</p> -->
                      <div   *ngIf="af.genre.touched && af.genre.invalid" class="alert alert-danger">
                        <div *ngIf="af.genre.errors.required">Genre is required</div>
                      </div>
                  </div>
                  <br>
                  <div >
                      <label class="form-label" for="">Author Image</label><sup>*</sup>
                      <hr>
                      <div class="mb-3">
                        <img  *ngIf="selectedImage"
                              [src]="selectedImage"
                              [style.width.px] = 'imageWidth'
                              [style.margin.px] = 'imageMargin'>
                      <br>
                      <input class="form-control" type="file" accept="image/*"
                            (change)="onSelectImage($event)" name="imageurl"
                            [(ngModel)]="author_Item.author_imageUrl" formControlName="imageurl" required>
                        <div   *ngIf="af.imageurl.touched && af.imageurl.invalid" class="alert alert-danger">
                          <div *ngIf="af.imageurl.errors.required">Image is required</div>
                        </div>
                      </div>
                  </div>
                  <br>
                  <button class="btn btn-primary" type="submit" [disabled]="authorform.invalid" >Submit</button>
                  <br>
            </form>
          </div>
      </div>
    </div><!--/col-6-->
    <div class="col-md-4"></div>
  </div>
</div>


<hr>
